/* slot machine overrides */
.slot-machine {
	pointer-events: none;
}
.reel {
	width: 100px !important;
	margin-left: 1.3rem;
}
.display,
.slots {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* custom css */
.container--slots {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button--slots {
	margin: 0.5rem !important;
}
